{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Прога</title>
  <base href="/">
  <link href="{% static '/resourses/icons/flavicon.ico' %}" rel="Shortcut icon"/>
  <link rel="stylesheet" type="text/css" href="{% static '/css/app.css' %}">
  <script>
    window.config = {
      appName: 'Моё приложение 1.0',
      locale: 'ru',
      locales: {
        'ru': 'Русский',
        'en': 'English',
      },
    }
  </script>
</head>
<body>
<div id="app"></div>
<script src="{% static '/js/app.js' %}"></script>
</body>
</html>
